*{
    margin: 0 auto;
    padding: 0;
    width: 360px;
    font: Poppins;
}

.vertical-line {
    width: 1px;
    /* Adjust the width as needed */
  
    height: 2em;
    /* Adjust the height as needed */
  
    background-color: #000;
    /* Change color if desired */
  
    margin: 0;
    /* Center the line horizontally */
  
    transform: rotate(180deg);
    /* Rotate the line to make it vertical */
  
}

h2{
    text-align: center;
    color: green;
    margin-top: 1em;
    margin-bottom: 1em;
}

.info{
    display: flex;
    justify-content: space-around;
}

.types{
    display:flex;
}

.type{
    color: white;
    background-color: purple;
    width: 20%;
    text-align: center;
    border-radius: 8px;
}

.infobox{
    padding: 0 50px 0 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 1px;
    border-style: solid;
    border-color: black;
}


.stat{
    display: flex;
}

.stat span{
    width: 20%;
    text-align: right;
    margin-right: 10%;
}

meter{
    width: 70%;
    margin-left: 10%;
}
