*{
    font-family: Poppins;
}

h2 {
    text-align: center;
}

p span{
    text-align: rigth;
}

article {
    width: 80px;
    flex: 1 0 30%; 
    border-radius: 8px;
    border-width: 1px;
    border-style: ridge;
    border-color: black;
    margin: 3px;
}

article img {
    width: 90%;
   
}

div {
    display: flex;
    flex-wrap: wrap;
}

.pokelist{
    /* display:grid;
    grid-template-columns: repeat(3, 1fr); */

}

.pokemons article:nth-last-child(5){
    background-color: orange;
}
